/* Styling for navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  background-color: #cf901c;
  background-image: url(../images/header-image.png);
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
}

/* Styling for text within navigation bar */
nav span { font-family: 'Bungee'; }

/* Styling for icons within navigation bar */
nav i {color: red}

/* Styling for the new tweet section */
.new-tweett {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adjust navigation bar styling for larger screens */
@media only screen and (min-width: 769px) {
  nav  {
    background-color: #4056A1;
    background-image: none;
  }
}