/* Styling for the new tweet section */
.new-tweet {
  background-color: #f4f1ec;
  padding: 20px;
  margin: 20px;
}

/* Header styling within the new tweet section */
.new-tweet h2 {
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Bungee';
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

/* Textarea styling within the new tweet form */
.new-tweet textarea {
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  background-color: #f4f1ec;
  border: none;
  overflow: auto;
  outline: none;
  border-bottom: solid;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Button styling within the new tweet form */
.new-tweet button {
  background-color: #4056A1;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Bungee';
}

/* Button hover effect within the new tweet form */
.new-tweet button:hover {
  background-color: #005f7a;
}

/* Counter styling within the new tweet form */
.counter {
  font-size: 14px;
  color: #666;
  font-family: 'Bungee';
}

/* Styling for the counter when over character limit */
.over-limit {
  color: red;
}

/* Styling for the bottom section of the new tweet form */
.bottom-new-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Styling for error messages */
.error-message {
  display: none;
  color: #fff;
  background-color: #f44336; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}
