/* Styling for tweet article */
article.tweet {
  border: solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Box shadow effect on hover for tweet article */
article.tweet:hover {
  box-shadow: 10px 5px 5px #c9cae1;
}

/* Header styling within tweet article */
article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

/* Styling for the logo and username container */
.logo-username {
  display: flex;
  flex-direction: row;
}

/* Footer styling within tweet article */
article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  margin: 20px;
}


/* Styling for the tweet text */
.tweet-text {
  border-bottom: solid;
  border-color: #1a1818;
  margin: 20px;
  font-weight: bold;
}

/* Styling for icons within tweet article */
article i {
  color: #4056A1;
}

/* Color change effect on hover for icons */
article i:hover {
  color: #cf901c;
}

/* Styling for the tweet account handle */
.tweet-account {
  opacity: 0.5;
}